# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.pdb

# Visual Studio / Rider
.vs/
.idea/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Dependencies
node_modules/
packages/
bower_components/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Angular specific
/dist
/tmp
/out-tsc
/bazel-out
.angular/
*.launch
.settings/
*.sublime-workspace
.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db
